{{define "title"}}Add expense item {{end}}
{{define "main"}}
    <form action='/expenses/{{.ExpenseId}}/items/create' method='POST'>
        <input type='hidden' name='mezaniId' value='{{.MezaniId}}'>
        {{template "expenseItem.tmpl" .}}
        <div>
            <input type='submit' value='Add'/>
        </div>
    </form>
    <script src='/static/js/expense-item-create.js' type='text/javascript'></script>
{{end}}