{{define "title"}} Expense {{.Expense.Name}} {{end}}

{{define "main"}}
    {{with .Expense}}
        <table>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    {{.Id}}
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    {{.Name}}
                </td>
            </tr>
            <tr>
                <td>
                    Created By
                </td>
                <td>
                    {{.Creator.Name}}
                </td>
            </tr>
            <tr>
                <td>
                    Total Amount
                </td>
                <td>
                    {{.TotalAmount}}
                </td>
            </tr>
            <tr>
                <td>
                    Allocated Amount
                </td>
                <td>
                    {{.AllocatedAmount}}
                </td>
            </tr>
            <tr>
                <td>
                    Created On
                </td>
                <td>
                    {{.CreatedAt.Format "Mon, 02 Jan 2006 15:04" }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/expenses/{{.Id}}/participation">Participate</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/expenses/{{.Id}}/items/create">Add Item</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                        Items
                        <table>
                            <tr>
                                <td>Name</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Total</td>
                                <td>Allocated</td>
                                <td>Actions</td>
                            </tr>
                            {{range .Items}}
                                <tr>
                                    <td>
                                        <a href="/expenseItems/{{.Id}}"> {{.Name}} </a>
                                    </td>
                                    <td>
                                        {{.Quantity}}
                                    </td>
                                    <td>
                                        {{.Amount}}
                                    </td>
                                    <td>
                                        {{.TotalAmount}}
                                    </td>
                                    <td>
                                        {{.AllocatedAmount}}
                                    </td>
                                    <td>
                                        <a href="/expenseItems/{{.Id}}/participation">Participate</a>
                                        <a href="/expenseItems/{{.Id}}/update">Update</a>
                                    </td>
                                </tr>
                            {{end}}
                        </table>
                </td>
            </tr>
        </table>
    {{end}}
{{end}}