{{define "title"}}Home{{end}}

{{define "main"}}
    Mezanis
    <table>
        <tr>
            <td>
                Name
            <td>
            <td>
                Created On
            <td>
        <tr>
        {{range .Mezanis}}
            <tr>
                <td>
                    <a href="/mezanis/{{.Id}}">{{.Name}}</href>
                <td>
                <td>
                    {{.CreatedAt}}
                <td>
            <tr>
        {{end}}
    </table>
{{end}}