{{define "title"}}Home{{end}}

{{define "main"}}
Mezanis
    <table>
        <tr>
            <td>
                Name
            <td>
            <td>
                Created On
            <td>
        <tr>
        {{range .}}
            <tr>
                <td>
                    {{.Name}}
                <td>
                <td>
                    {{.CreatedAt}}
                <td>
            <tr>
        {{end}}
    </table>
{{end}}