{{define "title"}} Mezani {{.Name}}{{end}}

{{define "main"}}
    {{with .Mezani}}
        <table>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    {{.Id}}
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    {{.Name}}
                </td>
            </tr>
            <tr>
                <td>
                    Created On
                </td>
                <td>
                    {{.CreatedAt}}
                </td>
            </tr>
        </table>
    {{end}}
{{end}}