{{define "title"}} Mezani {{.Mezani.Name}}{{end}}

{{define "main"}}
    {{with .Mezani}}
        <table>
            <tr>
                <td>Id</td>
                <td>{{.Id}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{.Name}}</td>
            </tr>
            <tr>
                <td>Total Amount</td>
                <td>{{.TotalAmount}}</td>
            </tr>
            <tr>
                <td>Allocated Amount</td>
                <td>{{.AllocatedAmount}}</td>
            </tr>
            <tr>
                <td>Created By</td>
                <td>{{.Creator.Name}}</td>
            </tr>
            <tr>
                <td>Created On</td>
                <td>{{.CreatedAt.Format "Mon, 02 Jan 2006 15:04" }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/mezanis/{{.Id}}/expenses/create">Add expense</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Expenses
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>Created By</td>
                            <td>Total Amount</td>
                            <td>Allocated Amount</td>
                            <td>Created On</td>
                        </tr>
                        {{range .Expenses}}
                            <tr>
                                <td><a href="/expenses/{{.Id}}">{{.Name}}<a></td>
                                <td>{{.Creator.Name}}</td>
                                <td>{{.TotalAmount}}</td>
                                <td>{{.AllocatedAmount}}</td>
                                <td>{{.CreatedAt.Format "Mon, 02 Jan 2006 15:04" }}</td>
                            </tr>
                        {{end}}
                    </table>
                </td>
            </tr>
        </table>
    {{end}}
{{end}}