{{define "title"}}Sign Up{{end}}
{{define "main"}}
    <form action='/users/signup' method='POST'>
        <input type='hidden' name='csrf_token' value='{{.CsrfToken}}'>
        <div>
            <label>Name:</label>
             {{with .FieldErrors.Name}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' name='name' value='{{.Name}}'>
        </div>
        <div>
            <label>Email:</label>
             {{with .FieldErrors.Email}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' name='email' value='{{.Email}}'>
        </div>
        <div>
            <label>Password:</label>
             {{with .FieldErrors.Password}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' name='password'>
        </div>
        <div>
            <input type='submit' value='Sign UP'>
        </div>
    </form>
{{end}}